<div class="about-container">
    <img src="../../../assets/miles.jpg" alt="Photo of Miles">

    <div class="about-title">
        <h2>I'm the man with the blog app</h2>
        <h3>Miles Burke</h3>
    </div>

    <div class="about-body">
        <p>
            Miles is a Silicon Valley tech genius who's inventions have brought about a new world order. His visionary approach to peace is as follows: 1: Address the problems we see in the world. 2: ??? 3: Profit. He sits from within his ivory tower and governs with a benevolance only comparable to such humble symbols like the son of Christ, but with better hair and shoes. Careful not to overwhelm yourself with tears of lust upon seeing him work. It's been known to those who watch him work to fall to their knees and cry out, "I'M THE HAMBURGLER AND I KNOW NOW MY CRIMES OF HAMBURGLING HAVE BROUGHT ME HERE." Peace has reigned within the valley for nearly 14 years, stock profiles have blossomed and death metal bands have left their axes at home while they finally ease their internal tensions through mastery of search engine optimization.
        </p>
    </div>


</div>